

<link rel="stylesheet" type="text/css" href="css/about.css" />
<div class="card">
    <img src="image/photo.png" class="user" alt="" />
    <h1><span class="typing-text"></span></h1>
    <span class="text1">A Web Developer & UI Designer</span>
    <div class="line"></div>
    <div class="text2">
      Saya lahir disubang pada tanggal 31 agustus 1991,Golongan darah "O" yang
      hobby belajar hal-hal baru,traveling,olahraga,Cita-cita:Kaya dengan
      Programing,Dengan Moto:
      <h2>"Ayo kalahkan benteng Takeshi!!"</h2>
    </div>
