
 <link rel="stylesheet" type="text/css" href="css/nav.css" />
<div class="navbar">
        <a href ='/'>Home</a>
        <a href ='/about'>About</a>
        <a href ='/contact'>Contact</a>
    </ul></div>
